@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.none {
  opacity: 0;
  transition: 1s;
}

.indicator {
  opacity: 1;
  transition: 1s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #696465;
}

::-webkit-scrollbar-thumb:hover {
  background: #242021;
}

@media (max-width: 767px) {
  #column {
    margin-top: 0 !important;
    margin-bottom: 100px;
  }
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
